.logo {
  /* width: 40px;
        height: 20px; */
  /* background-color: blue; */
}
.logo img {
  width: 164px;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.right ul {
  display: flex;
  gap: 40px;
}
.right ul li {
  list-style: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.right ul li img {
  width: 30px;
}
.right ul li span {
  /* border: 2px solid black; */
  padding: 0 4px;
}

.first {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 23px;
  margin: 70px;
  font-family: sans-serif;
}
.first span {
  font-size: 40px;
}
.first section span img {
  width: 40px;
  margin: 0 23px;
}

.first p {
  font-size: 17px;
  width: 50vw;
  text-align: center;
}
/* .first button {
  color: white;
  background-color: #00b6d1;
  padding: 14px 16px;
  border: none;
  border-radius: 7px;
  font-weight: 600;
} */
.flex {
  display: flex;
}
.small {
  font-size: 12px;
}
.second {
  /* background-color: skyblue; */
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  max-width: 50vw;
  margin: auto;
  /* align-items: center; */
}

.btn {
  color: white;
  background-color: #00b6d1;
  padding: 14px 16px;
  border: none;
  border-radius: 7px;
  font-weight: 600;
  margin: 10px 10px;
  cursor: pointer;
}
.btn a {
  text-decoration: none;
  color: white;
}
.btn-small {
}
.green {
  background-color: #5cb85c;
}

.item {
  padding: 23px;
  background: #ecebeb;
  border-radius: 12px;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}
.item-lang {
  font-weight: 700;
  text-align: center;
  padding-bottom: 63px;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 12px;
}
.download :nth-child(2) {
  font-size: 23px;
  /* padding: 0 10px; */
}
.download {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: sans-serif;
  margin: 30px 0px;
}
.download img {
  padding: 0 12px;
}

@media screen and (max-width: 1145px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
